body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background-color: #121212;
    color: #fff;
}

#chatContainer {
    width: 600px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

#chat {
    flex: 1;
    height: 400px;
    background-color: #1e1e1e;
    overflow-y: auto;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#messageInput, #nameInput {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
    width: calc(100% - 22px);
    background-color: #2c2c2c;
    color: #fff;
}

#sendBtn, #nameBtn {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: #0a84ff;
    color: white;
    cursor: pointer;
}

#channels button {
    padding: 5px 10px;
    margin: 2px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}
